@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik+Puddles&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #39dda1;
}

#header {
    background-color: #000000; 
}

#logo {
  height: 100px;
  width: 220px;
}